<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Mi perfil</title>
</head>
<body>
	<form action="#" th:action="@{/save/lector}" th:object="${lector}" method= "post">
	<div class="form-group">
		<h5>Nombre</h5>
		<input th:field="*{nombre}" type="text" class="form-control">
	</div>
    </div>
	<div class="form-group">
		<h5>Numero de telefono:</h5>
		<input th:field="*{telefono}" type="text" class="form-control">
	</div>
	<div class="form-group">
		<h5>Direccion</h5>
		<input th:field="*{direccion}" type="text" class="form-control">
	</div>
	
	<div>
	<button type="submit" class="btn btn-success col2">Guardar mi informacion</button>
	<hr>
	<a th:href="@{/}" class ="btn btn-danger btn-sm mb-3">volver</a>
	</div>
</form>
</body>
</html>