<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Biblioteca</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<style>
	
	body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
	#logoutButton {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}

#logoutButton:hover {
    background-color: #fff;
    color: #333;
}
	
</style>

<body>
	 <header>
        <h1>Listado de libros</h1>
       <a th:href="@{/logout}" id="logoutButton" class ="btn btn-danger">Log out</a>
    </header>
<a th:href="@{/add/libro}" id="añadirLibro" class="btn btn-primary btn-sm mb-3"   th:if="${isAdmin}">Añadir Libro</a>


<div class="container"> 
	<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=libro.titulo&sortDir=' + ${reverseSortDir}}">Titulo</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=libro.tipo&sortDir=' + ${reverseSortDir}}">Tipo</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=libro.editorial&sortDir=' + ${reverseSortDir}}">Editorial</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=libro.anyo&sortDir=' + ${reverseSortDir}}">Año</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=libro.autor.nombre&sortDir=' + ${reverseSortDir}}">Autor</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=estadoCopia&sortDir=' + ${reverseSortDir}}">Estado</a></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="copia:${listCopias}">
				<td th:text="${copia.libro.titulo}"></td>
				<td th:text="${copia.libro.tipo}"></td>
				<td th:text="${copia.libro.editorial}"></td>
				<td th:text="${copia.libro.anyo}"></td>
				<td th:text="${copia.libro.autor.nombre}"></td>
				<td th:text="${copia.estadoCopia}"></td>
				<td>
					<a th:href="@{/prestar/{id}(id=${copia.id})}" class="btn btn-primary">Prestar</a>
					<a th:href="@{/devolver/{id}(id=${copia.id})}" class="btn btn-danger">Devolver</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div th:if="${totalPages>1}">
	<div class="row col-sm-10">
		<div class="col-sm-5">Total filas: [[${totalItems}]]</div>
		<div class="col-sm-3">
			<span th:each="i:${#numbers.sequence(1,totalPages)}">
				<a th:if="${currentPage != 1}" 
				th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
					[[${i}]]
				</a>
				<span th:unless="${currentPage != 1}">[[${i}]]</span>
			</span>
		</div>
		<div class="col-sm-1">
			<a th:if="${currentPage < totalPages}" 
				th:href="@{'/page/' + ${currentPage+1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
					Proxima
				</a>
			</div>
		<div class="col-sm-1">
			<a th:if="${currentPage < totalPages}" 
				th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
					Ultima
				</a>
			</div>
	</div>
</div>
</body>
</html>
