<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Añadir libro</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<h3>Añadir libro</h3>

<form action="#" th:action="@{/save/libro}" th:object="${libro}" method= "post">
	<label for="tipoLibro">Titulo del libro:</label>
	<input th:field="*{titulo}" type="text" class="form-control">
	<label for="tipoLibro">Tipo de Libro:</label>
        <div th:each="t : ${T(com.capgemini.model.TipoLibro).values()}">
            <input type="radio" th:field="*{tipo}" th:value="${t}" id="${t}" />
            <label th:for="${t}" th:text="${t}"></label><br />
        </div>
	<label for="tipoLibro">Editorial:</label>
	<input th:field="*{editorial}" type="text" class="form-control">
	<label for="tipoLibro">Año del libro:</label>
	<input th:field="*{anyo}" type="number" class="form-control">

	
	<label for="tipoLibro">Nombre del autor:</label>
	<input th:field="*{autor.nombre}" type="text" class="form-control">
	<label for="tipoLibro">Nacionalidad:</label>
	<input th:field="*{autor.nacionalidad}" type="text"  class="form-control">
	<label for="tipoLibro">Fecha de nacimiento:</label>
	<input th:field="*{autor.fechaNacimiento}" type="datetime" class="form-control">
	
	<button type="submit" class="btn btn-info col2">Guardar Libro</button>
</form>
</body>
</html>